<section>
    <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#ideate" role="tab" data-toggle="tab">
                <span class="octicon octicon-light-bulb"></span>Ideate
            </a>
        </li>
        <li role="presentation">
            <a href="#submit" role="tab" data-toggle="tab">
                <span class="octicon octicon-diff-added"></span>Submit
            </a>
        </li>
        <li role="presentation">
            <a href="#discuss" role="tab" data-toggle="tab">
                <span class="octicon octicon-comment-discussion"></span>Discuss
            </a>
        </li>
        <li role="presentation">
            <a href="#get-approved" role="tab" data-toggle="tab">
                <span class="octicon octicon-thumbsup"></span>Get approved
            </a>
        </li>
        <li role="presentation">
            <a href="#work" role="tab" data-toggle="tab">
                <span class="octicon octicon-tools"></span>Work
            </a>
        </li>
        <li role="presentation">
            <a href="#get-validated" role="tab" data-toggle="tab">
                <span class="octicon octicon-verified"></span>Get validated
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="ideate">
            <h3>Ideate a new standard</h3>
            <p>
                First of all, you may want to <a href="/explore">explore</a> what standards exist at the moment before going ahead and create one. Just in case there is one already for the topic you want to propose which could get yours not approved to be worked on.
            </p>
            <p>
                Other than that, feel free to think of any kind of standard that would make your life and others' around you easier. A standard is going to be from a <b>basic to advanced set of rules, some optional may exist</b>, that can be <b>easily verifiable</b> so that when others apply it on their project and ask for compliance validation, maintainers of the standard can verify the project actually follows the standard.
            </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="submit">
            <h3>Submit it to the <code>meta</code> standard</h3>
            <p>
                Once you have a solid idea for a standard that does not exist yet, you can go ahead and submit it to the <code>meta</code> standard as a Github Issue. Here is a shortcut link to do that: <a href="https://github.com/standards/meta/issues/new">Submit Issue to <code>meta</code> standard</a>.
            </p>
            <p>
                Note that you will be asked for the following information:
                <ol>
                    <li>
                        <b>What is the purpose of this Issue?</b>: In this case you are proposing a new standard so just delete the other options.
                    </li>
                    <li>
                        <b>Describe the purpose of this issue a bit further</b>: You may now describe the standard you are proposing to create. You can also include links with information about other standards out there that are serving as inspiration. Anything related to why the standard should exist so that others can engage on discussing it till it reaches a good state where the Standards maintainers, which are the <code>meta</code> standard maintainers, can give you the green light for creating such a standard.
                    </li>
                </ol>
            </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="discuss">
            <h3>Invite people into the discussion</h3>
            <p>
                It's really important that the community takes a huge part of creating new standards as it's the community that is going to make them their own, evolve them and work with them. There is no use of a standard proposed, created and used by a single person. <b>We need various points of views, different knowledge put together to construct the way we all want to work with each other.</b>
            </p>
            <p>
                For that reason, is vital that you <b>invite more people into the submitted standard</b>. Just mention them on a comment typing "@" for which their name will be suggested if they have a GitHub user, asking for their opinion. Ask for resources of existent external standards to base on in order to pick the best from them to create the best standard possible.
            </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="get-approved">
            <h3>Get your new standard approved by Standards maintainers</h3>
            <p>
                Once you have a very fruitful standard discussion where resources where shared and a clear roadmap of how a standard should be written so it benefits everyone, you can mention @Standards/maintainers to bring the maintainers attention and to ask for approval.
            </p>
            <p>
                This approval request is just to get feedback about what was described in the last 3 steps. If you have an unique standard proposal with a healthy discussion and people involved, you will get approval. <b>This step is important to avoid creating a bunch of similar standards or standards without community involvement.</b>
            </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="work">
            <h3>Start working on the standard definition</h3>
            <p>
                You are all set to work on the definition of the standard. You will need to follow the <a href="https://github.com/Standards/meta" target="_blank"><code>meta</code> standard</a> which is the standard for creating standards.
            </p>
            <p>
                You can work on the new standard within your own profile <a href="https://github.com/new" target="_blank">creating a repository</a> or even within an organization you manage. The important thing is that you create a repository and follow the <code>meta</code> standard.
            </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="get-validated">
            <h3>Get your standard validated for its publication</h3>
            <p>
                The final step comes when you worked on the standard following the <code>meta</code> standard and you are satisfied with the results. In this step, you will <a href="https://github.com/standards/meta/issues/new" target="_blank">submit a new issue</a> in the <code>meta</code> standard but this time requesting validation.
            </p>
            <p>
                In the description you will need to include a link to the repository that constitutes the new standard you worked on so that Standard maintainers can check that it follows the <code>meta</code> standard.
            </p>
            <p>
                If everything needs to be modified/added, maintainers will give the appropriate feedback through that submitted issue. If everything looks good, you will be asked to:
                <ol>
                    <li>create a new release for your standard to start versioning its changes;</li>
                    <li>include a badge in the README file, like the one the <code>meta</code> standard has pointing to the correct version that was followed;</li>
                    <li>try to set the correct language of the repository to be able to categorize the standard;</li>
                    <li>and to give permission to one of the maintainers to manage your repository so it can be moved to the Standards organization.</li>
                </ol>
            </p>
            <p>
                Once that's done, it will start showing up on the <a href="/explore">explore</a> section of the homepage, searchable and ready to be applied by others. Don't forget to <a href="learn#complying-with-a-standard">ask for compliance</a> for your projects to show they follow this new standard.
            </p>
        </div>
    </div>
</section>