    <footer class="container">
      <div class="site-footer clearfix">
        <ul class="site-footer-links right no-style-list">
          <li><a href="https://gitter.im/Standards/Lobby">Contact Us</a></li>
        </ul>
		
        <a href="https://github.com/Standards">
          <img src="{{site.url}}/assets/img/github-logo.png"/>
        </a>
      </div>
    </footer>
    {% if page.url == "/explore" %}
      <script src="{{site.url}}/assets/js/explore.js"></script>
    {% elsif page.url == "/learn" %}
    <script src="{{site.url}}/assets/vendor/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <script src="{{site.url}}/assets/js/learn.js"></script>
    {% elsif page.url == "/" %}
      <script src="{{site.url}}/assets/js/home.js"></script>
    {% endif %}
  </body>
</html>
<!-- Proudly powered by GitHub Pages ~ Generated {{ site.time }} -->
