<div class="mini-section">
    <div class="container">
        <h6 class="no-matches">No matches.</h6>
        <div class="row grid">
            {% assign result = site.github.public_repositories | where:"name","meta" %}
            {% for meta in result limit: 1 %}
                {% include standard-card.html repo=meta pinned=true %}
            {% endfor %}
            
            <div class="col-md-4 grid-item" data-standard-name="create" data-standard-language="nolang">
                <div class="alert alert-info" id="panel-create" role="alert" style="padding:0;">
                    <div class="panel-body" style="padding: 14px;">
                        <p>
                            Learn the process of creating a new standard <a href="learn#create-a-new-standard">here</a>. Once you are ready, go ahead and propose a new standard <a href="https//github.com/Standards/meta/issues/new">here</a>.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Go through the organization public repos -->
            {% for repo in site.github.public_repositories %}

                <!-- Exclude the repos configured on _config.yml -->
                {% unless site.excluded_repos contains repo.name %}
                    {% include standard-card.html repo=repo %}
                {% endunless %}

            {% endfor %}
        </div>
    </div>
</div>
