<div class="col-md-4 grid-item" data-standard-name="{{ include.page.title }}" data-standard-language="{{ include.page.language | default:'nolang' }}">
    <div class="panel panel-{{ include.page.language | downcase | default: 'default' }}" id="panel-{{include.page.title | downcase | slug}}">
        <div class="panel-heading">
            <a href="{{include.page.url}}">{{ include.page.title }}</a>
            {% if include.pinned %}
            <span class="octicon octicon-pin pull-right"></span>
            {% endif %}
        </div>
        <div class="panel-body">
            <p>{{ include.page.description }}</p>
        </div>
        {% if include.page.language != null %}
        <div class="panel-footer">{{ include.page.language }}</div>
        {% endif %}
    </div>
</div>